rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // POSTS
    match /posts/{postId} {
      allow read: if true;

      allow create: if request.auth != null;

      allow update, delete: if request.auth != null
        && request.auth.uid == resource.data.uid;

      // COMMENTS
      match /comments/{commentId} {
        allow read: if true;

        allow create: if request.auth != null;

        allow update, delete: if request.auth != null
          && request.auth.uid == resource.data.uid;
      }
    }

    // LIKES
    match /likes/{likeId} {
      allow read: if true;

      allow create, delete: if request.auth != null
        && request.auth.uid == request.resource.data.uid;
    }

    // USERS
    match /users/{userId} {
      allow read: if true;

      allow create, update, delete: if request.auth != null
        && request.auth.uid == userId;

      // WALLET TRANSACTIONS
      match /transactions/{transactionId} {
        allow read: if request.auth != null
          && request.auth.uid == userId;

        allow create: if request.auth != null
          && request.auth.uid == userId
          && request.resource.data.uid == userId;

        allow update, delete: if request.auth != null
          && request.auth.uid == userId;
      }
    }
  }
}
